# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [1]:
list=[1,2,3,4,5,6,7,8,9,10]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [1]:
tup=("apple","banana","cherry")
print(tup,type(tup))

('apple', 'banana', 'cherry') <class 'tuple'>

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [3]:
numbers=[10,20,30,40]
num_1=tuple(numbers)
print(num_1,type(num_1))

(10, 20, 30, 40) <class 'tuple'>

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [6]:
s={1,2,3,4,5}
print(s,type(s))

{1, 2, 3, 4, 5} <class 'set'>

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [13]:
student={"name":"Alice","age":20,"grade":"A"}
print(student,type(student))

{'name': 'Alice', 'age': 20, 'grade': 'A'} <class 'dict'>

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [27]:
lst=[10,20,30,40,50]
lst[1]

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [10]:
fruits=["apple","banana","cherry","orange"]
fruits[2]=("mango")
print(fruits)

['apple', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [41]:
num_2={1,2,3,4,5}
num_2.add(6)

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [14]:
person = {"name": "John", "age": 25, "city": "New York"}
person.keys()

dict_keys(['name', 'age', 'city'])

In [39]:
person

{'name': 'John', 'age': 25, 'city': 'New York'}

In [40]:
del person["age"]
print(person)

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [42]:
for i in range(0,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [16]:
squares = [x**2 for x in range(1, 10) if x%2==0] 
print(squares)

[4, 16, 36, 64]

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [40]:
even=tuple(x for x in range (2,10) if x%2==0)
print(even)

(2, 4, 6, 8)

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits_1 for fruits in

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [24]:
numbers = {1, 2, 3, 4, 5}
if numbers:=3:
    print('exists')
else:
    print ('nope')

exists

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [50]:
numbers = (10, 20, 30)
len(numbers)

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [22]:
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [37]:
n=int(input(" "))
m=int(input(" "))
print([m+n])

 5
 5
[10]

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [38]:
numbers = [1, 2, 2, 3, 4, 4, 5]
n=set(numbers)
print(n)

{1, 2, 3, 4, 5}

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [39]:
q="hello"
list_1=list(q)
print(list_1)

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [60]:
t=(1, 2, 3, 4)
t[::-1]

(4, 3, 2, 1)

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [42]:
dict1 = {"a": 1, "b": 2} 
dict2 = {"c": 3, "d": 4}
dict3=dict1|dict2
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [45]:
dict_4={1:1,2:4,3:9,4:16,5:25}
print(dict_4.keys())
dict_4.values()

dict_keys([1, 2, 3, 4, 5])

dict_values([1, 4, 9, 16, 25])

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [49]:
dict_4={1:1,2:4,3:9,4:16,5:25}
for key,value in dict_4.items():
    print(f" {key} , {value}")

 1 , 1
 2 , 4
 3 , 9
 4 , 16
 5 , 25

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [59]:
ch='alphabet'
print(ch[:5])

alpha

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [63]:
a=[1, 2, 3]
b=["a", "b", "c"]
c=tuple(zip(b,a))
print(c)

(('a', 1), ('b', 2), ('c', 3))

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [65]:
list=[10, 20, 30, 40, 50]
list.index(50)

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [68]:
names = ["Alice", "Bob", "David","Charlie"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [17]:
def find_largest(numbers):
    if not numbers:
        return None
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    return largest
nums=[4,7,11,9,1]
print("The largest number is:", find_largest(nums))

The largest number is: 11

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [69]:
fruits = ["apple", "banana", "apple", "orange"]
fruits.count('apple')

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [2]:
person={"name": "Alice", "age":25, "city":"New York"}
print(person["city"])

New York

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [3]:
list_0=[1,1,3,4,7,7,7,8,9]
x=set(list_0)
x

{1, 3, 4, 7, 8, 9}

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [4]:
c=[2,3,4,5]
d=[8.9,6,9]
e=c+d
print(e)

[2, 3, 4, 5, 8.9, 6, 9]

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [5]:
for i in range (1,10):
    print(f"i x {i} = {i * i}")

i x 1 = 1
i x 2 = 4
i x 3 = 9
i x 4 = 16
i x 5 = 25
i x 6 = 36
i x 7 = 49
i x 8 = 64
i x 9 = 81

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [76]:
fun=[3, 1, 4, 1, 5, 9]
fun.sort()
print(fun)

[1, 1, 3, 4, 5, 9]

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [3]:
list_1=["Nairobi","Embu","Nakuru","Marsabit","Nyeri"]
def longest_string(strings):
    if not strings: 
        return None
    return max(strings, key=len)

print("The longest string is:", longest_string(list_1))

The longest string is: Marsabit

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [1]:
lst=[1, 2, 3, 4, 5]
all(lst,)

True

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [4]:
list_of_tuples = [(x, x**2) for x in range(1, 6)]
list_of_tuples

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

In [5]:
def get_second_elements(tuples_list):
    return [t[1] for t in tuples_list if len(t) > 1]

data = [(1, 'a'), (2, 'b'), (3, 'c')]
print(get_second_elements(data))

['a', 'b', 'c']

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

-

In [6]:
def flatten_list(list_of_lists):
    flat_list = []
    for sublist in list_of_lists:
        for item in sublist:
            flat_list.append(item)
    return flat_list


data = [[56, 43], [24, 15], [86, 67, 98]]
print(flatten_list(data))

[56, 43, 24, 15, 86, 67, 98]

--

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [9]:
list_4=["apple", "banana", "cherry"] 
enumerate(list_4)
list_4

['apple', 'banana', 'cherry']

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [10]:
my_tuple=()
if len(my_tuple) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [15]:
list_9=[]
for i in range(1,21):
    if i%2==0:
        list_9.append(i)
    
print(list_9)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [18]:
def reverse_list():
    user_input = input("Enter numbers separated by spaces: ")
    numbers = [int(x) for x in user_input.split()]
    return numbers[::-1]

print("Reversed list:", reverse_list())

Enter numbers separated by spaces: 12 87 93 23
Reversed list: [23, 93, 87, 12]

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [19]:
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [20]:
list__1 = [1, 2, 2, 3, 4, 4, 5]
new_list = []
for item in list__1:
    if item not in new_list:
        new_list.append(item)

print(new_list)

[1, 2, 3, 4, 5]

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [24]:
data = [
    {"name": "Joy", "age": 25},
    {"name": "Claire", "age": 30}
]
def get_values(dict_list, key):
    return [d[key] for d in dict_list if key in d]



print(get_values(data, "age"))

[25, 30]

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [25]:
def fibonacci(n):
    a, b = 0, 1
    count = 0
    while count < n:
        yield a
        a, b = b, a + b
        count += 1


n_terms = 10
for num in fibonacci(n_terms):
    print(num, end=' ')

0 1 1 2 3 5 8 13 21 34

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [26]:
def unique_characters_ordered(s):
    seen = set()
    result = []
    for char in s:
        if char not in seen:
            seen.add(char)
            result.append(char)
    return result

print(unique_characters_ordered("coding is fun"))

['c', 'o', 'd', 'i', 'n', 'g', ' ', 's', 'f', 'u']

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [27]:
def merge_sorted_lists(list1, list2):
    merged = []
    i = j = 0
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged.append(list1[i])
            i += 1
        else:
            merged.append(list2[j])
            j += 1
    while i < len(list1):
        merged.append(list1[i])
        i += 1
    while j < len(list2):
        merged.append(list2[j])
        j += 1
    return merged

a = [1, 3, 5]
b = [2, 4, 6]
print(merge_sorted_lists(a, b))

[1, 2, 3, 4, 5, 6]

---

### Exercise 51:
Use the `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [31]:
def is_odd(x):
    return x % 2 != 0
lst_a = [1, 2, 3, 4, 5, 6]
odd_numbers = list(filter(is_odd, lst_a))

print(odd_numbers)

[1, 3, 5]

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [32]:
list_b = [(1, 2), (3, 4), (5, 6)]
dict_a = dict(list_b)
print(dict_a)

{1: 2, 3: 4, 5: 6}

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

In [35]:
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)
a = {11, 62, 53}
b = {38, 47, 35}

print(symmetric_difference(a,b))

{35, 38, 11, 47, 53, 62}

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [36]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
list3 = [4, 3, 7, 8]
common_elements = set(list1) & set(list2) & set(list3)
print("Common elements:", common_elements)

Common elements: {3, 4}

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [40]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n - 1)
num = 5
print(f"Factorial of {num} is {fact(num)}")

Factorial of 5 is 120

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

In [41]:
fruits = ["apple", "", "banana", "", "cherry"]
filtered_fruits = [fruit for fruit in fruits if fruit != ""]

print(filtered_fruits)

['apple', 'banana', 'cherry']

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

In [48]:
def swap_dict(d):
    return {value: key for key, value in d.items()}
original_dict = {"name": "Charlotte", "age": 24, "height": 5.2}
swapped_dict = swap_dict(original_dict)

print("Original dictionary:", original_dict)
print("Swapped dictionary:", swapped_dict)

Original dictionary: {'name': 'Charlotte', 'age': 24, 'height': 5.2}
Swapped dictionary: {'Charlotte': 'name', 24: 'age', 5.2: 'height'}

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

In [49]:
def int_even(lista):
    return [num for num in lista if num % 2 == 0]
nums = [24,23,37,19,44,32]
even_nums = int_even(nums)
print(even_nums)

[24, 44, 32]

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

In [50]:
def first_elements(tuple_list):
    return [t[0] for t in tuple_list if len(t) > 0]

data = [('Kenya','Tanzania'), ('Ghana', 'Nigeria'), ('Botswana', 'Madagascar')]
print(first_elements(data))

['Kenya', 'Ghana', 'Botswana']

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

In [53]:
lstb = [11, 54, 33, 32, 53]
unique = []
seen = set()
for num in lstb:
    if num not in seen:
        unique.append(num)
        seen.add(num)

print(unique)

[11, 54, 33, 32, 53]

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

In [55]:
lists = ["Cameroon", "Benin", "Congo"]
lengths = list(map(len, lists))

print(lengths)

[8, 5, 5]

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

In [56]:
listn = [7, 12, 65, 47, 66]
if len(listn) > 0:
    average = sum(listn) / len(listn)
    print("Average:", average)
else:
    print("The list is empty.")

Average: 39.4

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

In [57]:
def fibonacci_list(n):
    fib = []
    a, b = 4, 10
    for _ in range(n):
        fib.append(a)
        a, b = b, a + b
    return fib


n_terms = 10
print(fibonacci_list(n_terms))

[4, 10, 14, 24, 38, 62, 100, 162, 262, 424]

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

In [60]:
fruits = ["apple", "banana", "apple", "cherry"]
counts = {}
counts = {}

for fruit in fruits:
    if fruit in counts:
        counts[fruit] += 1
    else:
        counts[fruit] = 1

print(counts)

{'apple': 2, 'banana': 1, 'cherry': 1}

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

In [62]:
listr= [4, 10, 14, 24, 38, 62, 100, 162, 262, 424]
remove = 100
filtered_list = [num for num in listr if num != remove]

print(filtered_list)

[4, 10, 14, 24, 38, 62, 162, 262, 424]

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

In [63]:
def starts_with_vowel(strings):
    vowels = "AEIOUaeiou"
    return [s for s in strings if s and s[0] in vowels]
countries = ["Algeria", "Botswana","Egypt", "Ghana", "Uganda", "Kenya"]
vowel_words = starts_with_vowel(countries)
print(vowel_words)

['Algeria', 'Egypt', 'Uganda']

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

In [67]:
set1 = {4, 10, 14, 24, 38, 62, 100, 162, 262, 424}
set2 = {11, 54, 33, 32,38, 62, 100, 53}
intersection = set1 & set2  

print("Intersection:", intersection)

Intersection: {62, 100, 38}

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

In [68]:
def flatten(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten(item))
        else:
            flat_list.append(item)
    return flat_list


nested = [18, [24, 13], [41, [25, 36]], 27]
print(flatten(nested))

[18, 24, 13, 41, 25, 36, 27]

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

In [70]:
numbers = [21, 22, 43, 54, 51]
are_unique = len(numbers) == len(set(numbers))

print("All elements are unique:", are_unique)

All elements are unique: True

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

In [74]:
from functools import reduce
numbers = [80, 75, 93, 87, 91]
product = reduce(lambda x, y: x * y, numbers)

print( product)

4417686000

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

In [76]:
def strings_to_lengths(strings):
    return {s: len(s) for s in strings}
lsts2 = ["vitenge", "ankara", "vintage"]
length_dict = strings_to_lengths(lsts2)
print(length_dict)

{'vitenge': 7, 'ankara': 6, 'vintage': 7}

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

In [78]:
strs = "Mathematics"
vowels = "aeiouAEIOU"
count = sum(1 for char in strs if char in vowels)

print(count)

4

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

In [79]:
def fact(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

fact_list = [(i, fact(i)) for i in range(1, 6)]
print(fact_list)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

In [81]:
dict_l = [{"cow": 'milk'}, {"hen": 'egg'}, {"pig": 'pork'}, {"goat": 'meat'}]
merged_d = {}
for d in dict_l:
    merged_d.update(d)

print(merged_d)

{'cow': 'milk', 'hen': 'egg', 'pig': 'pork', 'goat': 'meat'}

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

In [86]:
def is_subset(set1, set2):
    """
    Returns True if set1 is a subset of set2, False otherwise.
    """
    return set1.issubset(set2)
a = {7, 5, 9}
b = {7, 12, 9, 14, 5}

print(is_subset(a, b))  
print(is_subset(b, a))

True
False

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

In [85]:
t_list = [(71, 83), (92, 71), (74, 82), (93, 95)]
s_list = sorted(t_list, key=lambda x: x[1])

print(s_list)

[(92, 71), (74, 82), (71, 83), (93, 95)]

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

In [88]:
def positive_num(n_lst):
    return [n for n in n_lst if n > 0]
n_list = [-73, 80, 95, -76, 88, -92]
print(positive_num(n_list))

[80, 95, 88]

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

In [89]:
def union(s1, s2):
    return s1.union(s2)
a = {1, 2, 3}
b = {3, 4, 5}
print(union(a, b))

{1, 2, 3, 4, 5}

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

In [90]:
def prod(lst):
    product = 1
    for n in lst:
        product *= n
    return product

# Example usage
nums = [2, 3, 4, 5]
print(prod(nums))

120

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

In [91]:
chs = ['D', 'e', 'l', 'h', 'i']
string = ''.join(chs)

print(string)

Delhi

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

In [92]:
lst_n = [49, 52, 68, 70, 65]
first = second = float('-inf')

for n in lst_n:
    if n > first:
        second = first
        first = n
    elif n > second and n != first:
        second = n

print(second)

68

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

In [93]:
def sort_k(d):
    return sorted(d.keys())
my_dict_9 = {'Kales': 20, 'cabbage': 15, 'spinach': 25}
print(sort_k(my_dict_9))

['Kales', 'cabbage', 'spinach']

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

In [98]:
def common_element(lst_9):
    return max(set(lst_9), key=lst_9.count)
list_0 = [29, 19, 14, 19, 25, 27, 19, 14, 28]
print(common_element(list_0))

19

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

In [99]:
def sort_element(list_t2):
    return sorted(list_t2, key=lambda x: x[0])
lst_tup = [(19, 'x'), (12, 'y'), (21, 'z'), (25, 'w')]
sorted_= sort_element(lst_tup)
print(sorted_)

[(12, 'y'), (19, 'x'), (21, 'z'), (25, 'w')]

<!-- --- -->

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

In [100]:
lst_d = [
    {"Name": 'Njoki', "Country": 'Benin'},
    {"Name": 'Caren', "Country": 'Tanzania'},
    {"Name":'Mwangi', "Country": 'Kenya'}]
dicts = []
seen = set()
for d in lst_d:
    dict_tu = tuple(sorted(d.items()))
    if dict_tu not in seen:
        seen.add(dict_tu)
        dicts.append(d)

print(dicts)

[{'Name': 'Njoki', 'Country': 'Benin'}, {'Name': 'Caren', 'Country': 'Tanzania'}, {'Name': 'Mwangi', 'Country': 'Kenya'}]

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

In [101]:
def min_max(numb):
    if not numb:
        return None, None 
    return min(numb), max(numb)
nums = [4, 2, 9, 1, 7]
minimum, maximum = min_max(nums)

print(minimum)
print(maximum)

1
9

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

In [102]:
lsta = [85, 79, 63]
lstb = [45,63,54]

tuple_list = list(zip(lsta, lstb))

print(tuple_list)

[(85, 45), (79, 63), (63, 54)]

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

In [103]:
def r_list(lsts):
    return lsts[::-1]
listss = ["Eve", "Madam", "Villa"]
print(r_list(listss))

['Villa', 'Madam', 'Eve']

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

In [105]:
def sums(x):
    total = 0
    for n in x:
        if n % 2 != 0:
            total += n
    return total
y=[85,87,79,63,76]
sums(y)

314

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

In [111]:
def is_pal(s):
    s = s.replace(" ", "").lower()
    return s == s[::-1]
text = "madam"

if is_pal(text):
    print(f'"{text}" is a palindrome')
else:
    print(f'"{text}" is not a palindrome')
text='madam'

"madam" is a palindrome

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

In [112]:
def median(num):
    sort_num = sorted(num)
    n = len(sort_num)
    
    if n == 0:
        return None
    
    mid = n // 2
    
    if n % 2 == 0:
        return (sort_num[mid - 1] + sort_num[mid]) / 2
    else:
        return sort_num[mid]


nums1 = [57, 23, 19, 21, 17]
nums2 = [43, 51, 33, 22]
print(median(nums1)) 
print(median(nums2))

21
38.0

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

In [113]:
def sum_d(d_lst):
    total = {}
    for d in d_lst:
        for key, value in d.items():
            if key in total:
                total[key] += value
            else:
                total[key] = value
    return total

d_lst = [
    {'a': 10, 'b': 5},
    {'a': 3, 'b': 2, 'c': 7},
    {'b': 4, 'c': 1}
]

print(sum_d(d_lst))

{'a': 13, 'b': 11, 'c': 8}

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

In [115]:
from collections import Counter

def mode(num):
    if not num:
        return None 
    counts = Counter(numbers)
    max_count = max(counts.values())
    modes = [num for num, freq in counts.items() if freq == max_count]
    return modes

nums = [11, 7, 7, 23, 14, 25, 9, 18]
print(mode(nums))

[80, 75, 93, 87, 91]

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

In [117]:
def sq_sum(x):
    return sum(n**2 for n in x)


y = [1, 2, 3, 4]
print(sq_sum(y))

30


### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

In [118]:
cubes = [(x, x**3) for x in range(1, 6)]
print(cubes)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

In [121]:
def prime_(n):
    primes = []
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes


print(prime_(20))

[2, 3, 5, 7, 11, 13, 17, 19]

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

In [122]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 20, 'c': 30, 'd': 40}
common_keys = set(dict1.keys()) & set(dict2.keys())

print("Common keys:", common_keys)

Common keys: {'b', 'c'}

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

In [123]:
def long_s(q):
    return [word for word in q if len(word) > 5]

words_l = ["apple", "banana", "cherry", "kiwi", "pineapple", "grape"]
print(long_s(words_l))

['banana', 'cherry', 'pineapple']



---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

In [124]:
w = ["apple", "banana", "cherry", "kiwi"]
r = [(word, len(word)) for word in w]

print(r)

[('apple', 5), ('banana', 6), ('cherry', 6), ('kiwi', 4)]

---
### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [128]:
def sum_d(d_list):
    result = {}
    for d in d_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result
nuts = [
    {'ground nut': 90, 'coconut': 70},
    {'ground nut': 75, 'peanut': 65, 'coconut': 55},
    {'peanut': 60, 'coconut': 95}
]

print(sum_d(nuts))

{'ground nut': 165, 'coconut': 220, 'peanut': 125}